%% == Core ==
{require_otp_vsn, "17"}.

%% == Erlang Compiler ==
{erl_opts, [debug_info], warnings_as_errors}.

%% == Subdirectories ==
{sub_dirs, ["deps"]}.

{deps, [
    {cowboy, ".*", {git, "https://github.com/ninenines/cowboy", "1.0.3"}},
    {gproc, ".*", {git, "https://github.com/uwiger/gproc.git", "0.5"}},
    {jiffy, ".*", {git, "git@github.com:davisp/jiffy.git", {tag, "0.9.0"}}}
    ]}.

